<div id="price" class="price-area aread-padding">
  <div class="container">
    <!--Heading-->
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="heading">
          <h2>Pricing Table</h2>
        </div>
      </div>
    </div>
    <!--COntent-->
    <div class="row">
      <!--List 1-->
      <div class="col-md-4 col-sm-4 col-xs-12 mb-4">
        <div class="list">
          <h3>basic <br> <span>$80 / month</span></h3>
          <ol>
            <li class="check">
              Online system
              <i class="fa fa-check" aria-hidden="true"></i>
            </li>
            <li class="cross">
              Full access
              <i class="fa fa-times" aria-hidden="true"></i>
            </li>
            <li class="check">
              Free apps
              <i class="fa fa-check" aria-hidden="true"></i>
            </li>
            <li class="check">
              Multiple slider
              <i class="fa fa-check" aria-hidden="true"></i>
            </li>
            <li class="cross">
              Free domin
              <i class="fa fa-times" aria-hidden="true"></i>
            </li>
            <li class="cross">
              Support unlimited
              <i class="fa fa-times" aria-hidden="true"></i>
            </li>
            <li class="check">
              Payment online
              <i class="fa fa-check" aria-hidden="true"></i>
            </li>
            <li class="cross">
              Cash back
              <i class="fa fa-times" aria-hidden="true"></i>
            </li>
          </ol>
          <button class="button1">sign up now</button>
        </div>
      </div>
      <!--List 2-->
      <div class="col-md-4 col-sm-4 col-xs-12 mb-4">
        <div class="list">
          <span class="saleon">top sale</span>
          <h3>standard <br> <span>$110 / month</span></h3>
          <ol>
            <li class="check">
              Online system
              <i class="fa fa-check" aria-hidden="true"></i>
            </li>
            <li class="check">
              Full access
              <i class="fa fa-check" aria-hidden="true"></i>
            </li>
            <li class="check">
              Free apps
              <i class="fa fa-check" aria-hidden="true"></i>
            </li>
            <li class="check">
              Multiple slider
              <i class="fa fa-check" aria-hidden="true"></i>
            </li>
            <li class="cross">
              Free domin
              <i class="fa fa-times" aria-hidden="true"></i>
            </li>
            <li class="check">
              Support unlimited
              <i class="fa fa-check" aria-hidden="true"></i>
            </li>
            <li class="check">
              Payment online
              <i class="fa fa-check" aria-hidden="true"></i>
            </li>
            <li class="cross">
              Cash back
              <i class="fa fa-times" aria-hidden="true"></i>
            </li>
          </ol>
          <button class="button2">sign up now</button>
        </div>
      </div>
      <!--List 3-->
      <div class="col-md-4 col-sm-4 col-xs-12 mb-4">
        <div class="list">
          <h3>premium <br> <span>$150 / month</span></h3>
          <ol>
            <li class="check">
              Online system
              <i class="fa fa-check" aria-hidden="true"></i>
            </li>
            <li class="check">
              Full access
              <i class="fa fa-check" aria-hidden="true"></i>
            </li>
            <li class="check">
              Free apps
              <i class="fa fa-check" aria-hidden="true"></i>
            </li>
            <li class="check">
              Multiple slider
              <i class="fa fa-check" aria-hidden="true"></i>
            </li>
            <li class="check">
              Free domin
              <i class="fa fa-check" aria-hidden="true"></i>
            </li>
            <li class="check">
              Support unlimited
              <i class="fa fa-check" aria-hidden="true"></i>
            </li>
            <li class="check">
              Payment online
              <i class="fa fa-check" aria-hidden="true"></i>
            </li>
            <li class="check">
              Cash back
              <i class="fa fa-check" aria-hidden="true"></i>
            </li>
          </ol>
          <button class="button1">sign up now</button>
        </div>
      </div>

    </div>
  </div>
</div>