<!--========================Welcome==============================-->
<div class="welcome-area">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12 welcome-content">
        <h3>
          Welcome to our eBusiness company
          <a class="welcome-button">Get A quate</a>
        </h3>        
      </div>
    </div>
  </div>
</div>

<!--========================Contact Us==============================-->
<div id="contact" class="contact-area area-padding">
  <div class="container">
    <!--Heading-->
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="heading">
          <h2>Contact Us</h2>
        </div>
      </div>
    </div>
    <!--Icons-->
    <div class="row contact-icon mb-4">
      <!--Icon 1-->
      <div class="col-md-4 col-sm-4 col-xs-12">
        <i class="fa fa-mobile"></i>
        <p>
          Call: +1 5589 55488 55<br>
          Monday-Friday (9am-5pm)
        </p>
      </div>
      <!--Icon 2-->
      <div class="col-md-4 col-sm-4 col-xs-12">
        <i class="fa fa-envelope-o"></i>
        <p>
          Email: info@example.com<br>
          Web: www.example.com
        </p>
      </div>
      <!--Icon 3-->
      <div class="col-md-4 col-sm-4 col-xs-12">
        <i class="fa fa-map-marker"></i>
        <p>
          Location: A108 Adam Street<br>
          NY 535022, USA
        </p>
      </div>
    </div>
    <!--Content-->
    <div class="row">
      <!--Map Area-->
      <div class="col-md-6 col-sm-6 col-xs-12 map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14023.827257895726!2d77.082508!3d28.510947!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x39a6763cae215363!2sRankwatch!5e0!3m2!1sen!2sin!4v1533187003349" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
      <!--Form Area-->
      <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="contact-form">
          <form method="post">
            <div class="form-group">
              <input class="form-control" id="name" placeholder="Your Name" type="text">
            </div>
            <div class="form-group">
              <input class="form-control" id="email" placeholder="Your Email" type="email">
            </div>
            <div class="form-group">
              <input class="form-control" id="subject" placeholder="Subject" type="text">
            </div>
            <div class="form-group">
              <textarea class="form-control" rows="7" placeholder="Message"></textarea>
            </div>
            <div class="form-button">
                <button type="submit">Send Message</button>
            </div>            
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
