<div id="about" class="about-area area-padding">
  <div class="container">
    <!--About heading-->
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="heading">
          <h2>
            About EBusiness
          </h2>
        </div>
      </div>
    </div>
    <!--About content-->
    <div class="row">
      <div class="col-md-6 col-sm-6 col-xs-12 mb-2">
        <img style="width:100%;" src="./assets/image/content/1.jpg"/>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-12">
        <a href="#" class="about-head">
          <h4 >
            project maintainence
          </h4>
        </a>
        <p>
          Redug Lagre dolor sit amet, consectetur adipisicing elit. Itaque quas officiis iure aspernatur sit adipisci quaerat unde at nequeRedug Lagre dolor sit amet, consectetur adipisicing elit. Itaque quas officiis iure
        </p>
        <ul>
          <li>
            <div>
              <div class="about-check"><i class="fa fa-check"></i></div>
              <div class="about-ebuss">Interior design Package</div> 
           </div>           
          </li>
          <br>
          <li>
            <div>
              <div class="about-check"><i class="fa fa-check"></i></div>
              <div class="about-ebuss">Building House</div> 
            </div> 
          </li>
          <br>
          <li>
            <div>
              <div class="about-check"><i class="fa fa-check"></i></div>
              <div class="about-ebuss">Reparing of Residentail Roof</div> 
            </div> 
          </li>
          <br>
          <li>
            <div>
              <div class="about-check"><i class="fa fa-check"></i></div>
              <div class="about-ebuss">Renovaion of Commercial Office</div> 
            </div>  
          </li>
          <br>
          <li>
            <div>
              <div class="about-check"><i class="fa fa-check"></i></div>
              <div class="about-ebuss">Make Quality Products</div> 
            </div>            
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
