<div id="services" class="area-padding">
  <div class="container">
    <!--Service Heading-->
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="heading">
          <h2>
            Our Services
          </h2>
        </div>
      </div>
    </div>
    <!--Services content-->
    <div class="row">
      <!--Object 1-->
      <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="services-area">
          <a class="services-icon" href="#">
            <i class="fa fa-code"></i>
          </a>
          <h4>Expert Coder</h4>
          <p>
            Will have to make sure the prototype looks finished by inserting text or photo.make sure the prototype looks finished by.
          </p>
        </div>
      </div>
      <!--Object 2-->
      <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="services-area">
          <a class="services-icon" href="#">
            <i class="fa fa-camera-retro"></i>
          </a>
          <h4>Creative Designer</h4>
          <p>
            Will have to make sure the prototype looks finished by inserting text or photo.make sure the prototype looks finished by.
          </p>
        </div>
      </div>
      <!--Object 3-->
      <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="services-area">
          <a class="services-icon" href="#">
            <i class="fa fa-wordpress"></i>
          </a>
          <h4>Wordpress Developer</h4>
          <p>
            Will have to make sure the prototype looks finished by inserting text or photo.make sure the prototype looks finished by.
          </p>
        </div>
      </div>
      <!--Object 4-->
      <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="services-area">
          <a class="services-icon" href="#">
            <i class="fa fa-camera-retro"></i>
          </a>
          <h4>Social Marketer</h4>
          <p>
            Will have to make sure the prototype looks finished by inserting text or photo.make sure the prototype looks finished by.
          </p>
        </div>
      </div>
      <!--Object 5-->
      <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="services-area">
          <a class="services-icon" href="#">
            <i class="fa fa-bar-chart"></i>
          </a>
          <h4>Seo Expart</h4>
          <p>
            Will have to make sure the prototype looks finished by inserting text or photo.make sure the prototype looks finished by.
          </p>
        </div>
      </div>
      <!--Object 6-->
      <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="services-area">
          <a class="services-icon" href="#">
            <i class="fa fa-ticket"></i>
          </a>
          <h4>24/7 Support</h4>
          <p>
            Will have to make sure the prototype looks finished by inserting text or photo.make sure the prototype looks finished by.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
