<div class="test-area">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="test-content">
          <a class="circle" href="#"><i class="fa fa-quote-right"></i></a>
          <div class="test-data">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed pulvinar luctus est eget congue.
              <br>
              consectetur adipiscing elit. Sed pulvinar luctus est eget congue.
            </p>
            <h6>Boby</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
