<div class="skill-area">
  <div class="overlay"></div>
  <div class="area-padding-2">
    <div class="container">
      <div class="row">
        <!--Graph 1-->
        <div class="col-md-3 col-sm-3 col-xs-12">
          <div style="height:200px;width:175;">
              <input class="knob" value="95" data-rel="65" data-linecap="round" data-width="175" data-bgcolor="#fff" data-fgcolor="#3EC1D5" data-thickness=".20" data-readonly="true" disabled="" readonly="readonly" style="width: 91px; height: 58px; position: absolute; vertical-align: middle; margin-top: 58px; margin-left: -133px; border: 0px none; background: rgba(0, 0, 0, 0) none repeat scroll 0% 0%; font: bold 35px Arial; text-align: center; color: rgb(62, 193, 213); padding: 0px;" type="text">
          </div>
          <h3>Web Design</h3>
        </div>
        <!--Graph 2-->
        <div class="col-md-3 col-sm-3 col-xs-12">
          <div style="height:200px;width:175;">
              <input class="knob" value="85" data-rel="65" data-linecap="round" data-width="175" data-bgcolor="#fff" data-fgcolor="#3EC1D5" data-thickness=".20" data-readonly="true" disabled="" readonly="readonly" style="width: 91px; height: 58px; position: absolute; vertical-align: middle; margin-top: 58px; margin-left: -133px; border: 0px none; background: rgba(0, 0, 0, 0) none repeat scroll 0% 0%; font: bold 35px Arial; text-align: center; color: rgb(62, 193, 213); padding: 0px;" type="text">
          </div>
          <h3>Graphics Design</h3>
        </div>
        <!--Graph 3-->
        <div class="col-md-3 col-sm-3 col-xs-12">
          <div style="height:200px;width:175;">
              <input class="knob" value="75" data-rel="75" data-linecap="round" data-width="175" data-bgcolor="#fff" data-fgcolor="#3EC1D5" data-thickness=".20" data-readonly="true" disabled="" readonly="readonly" style="width: 91px; height: 58px; position: absolute; vertical-align: middle; margin-top: 58px; margin-left: -133px; border: 0px none; background: rgba(0, 0, 0, 0) none repeat scroll 0% 0%; font: bold 35px Arial; text-align: center; color: rgb(62, 193, 213); padding: 0px;" type="text">
          </div>
          <h3>Php Developer</h3>
        </div>
        <!--Graph 4-->
        <div class="col-md-3 col-sm-3 col-xs-12">
          <div style="height:200px;width:175;">
              <input class="knob" value="65" data-rel="65" data-linecap="round" data-width="175" data-bgcolor="#fff" data-fgcolor="#3EC1D5" data-thickness=".20" data-readonly="true" disabled="" readonly="readonly" style="width: 91px; height: 58px; position: absolute; vertical-align: middle; margin-top: 58px; margin-left: -133px; border: 0px none; background: rgba(0, 0, 0, 0) none repeat scroll 0% 0%; font: bold 35px Arial; text-align: center; color: rgb(62, 193, 213); padding: 0px;" type="text">
          </div>
          <h3>Java Script</h3>
        </div>
      </div>
    </div>
  </div>
</div>
