<!-- ======Header=======-->
<header>
  <div class="head" id="blog-body">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12">
          <nav class="navbar navbar-expand-md pb-0" style="padding:0.5rem 0.5rem;">
            <!--Logo-->
            <a class="navbar-brand logo" href="#">
              <h1>
                <span>e</span>Business
              </h1>
            </a>
            <!--Collapse Button-->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
              <i class="fa fa-bars" aria-hidden="true" style="color:white"></i>
            </button>
            <!--NavBar Content-->
            <div class="collapse navbar-collapse menu" id="collapsibleNavbar">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                  <a class="nav-link">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#about">About</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#services">Services</a>
                </li>    
                <li class="nav-item">
                  <a class="nav-link" href="#team">Team</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#portfolio">Portfolio</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#blog">Blog</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#contact">Contact</a>
                </li>
              </ul>
            </div>  
            <!--Navbar Content ends here-->
          </nav>
        </div>
      </div>
    </div>
  </div> 
</header>

<!--Body Of the Blog-->
<div class="business-body" id="business">

  <!--======Image Slider=====-->
  <app-image-slider></app-image-slider>

  <!--=========About=========-->
  <app-about></app-about>

  <!--=======Service========-->
  <app-service></app-service>

  <!--========Skills=========-->
  <app-skill></app-skill>

  <!--=========Faq===========-->
  <app-faq></app-faq>

  <!--=======Subscribe=======-->
  <app-subscribe></app-subscribe>

  <!--========Team===========-->
  <app-team></app-team>

  <!--========Reviews=========-->
  <app-review></app-review>

  <!--========Portfolio=======-->  
  <app-portfolio></app-portfolio>

  <!--========Price===========-->
  <app-price></app-price> 

  <!--======Testimonial=======-->
  <app-testimonial></app-testimonial>

  <!--========Blog============-->
  <app-blog></app-blog>

  <!--=Welcome and Contact US=-->
  <app-contact-us></app-contact-us>

  <!--==========Footer========-->
  <footer>
  <div class="footer-area">
    <div class="container">
      <div class="row">
        <!--Column 1-->
        <div class="col-md-4 col-sm-4 col-xs-12 mb-4">
          <div class="logo">
            <h2><span>e</span>Business</h2>
          </div>
          <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium 
            doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis.
          </p>  
          <div class="footer-icons">
            <ul>
              <li>
                <a href="#"><i class="fa fa-facebook"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-twitter"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-google"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-pinterest"></i></a>
              </li>
            </ul>
        </div>      
        </div>
        <!--Column 2-->
        <div class="col-md-4 col-sm-4 col-xs-12 mb-4">
          <div class="information">
            <h4>information</h4>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
            </p>
          </div>
          <div class="footer-contacts">
            <p><span>Tel:</span> +123 456 789</p>
            <p><span>Email:</span> contact@example.com</p>
            <p><span>Working Hours:</span> 9am-5pm</p>
          </div>
        </div>
        <!--Column 3-->
        <div class="col-md-4 col-sm-4 col-xs-12 mb-4">
          <div class="instagram">
            <h4>Instagram</h4>
            <div class="insta-post">
              <img src="../assets/image/content/portfolio/1.jpg"/>
              <img src="../assets/image/content/portfolio/2.jpg"/>
              <img src="../assets/image/content/portfolio/3.jpg"/>
              <img src="../assets/image/content/portfolio/4.jpg"/>
              <img src="../assets/image/content/portfolio/5.jpg"/>
              <img src="../assets/image/content/portfolio/6.jpg"/>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="bottom-footer">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <br>
          <p>© Copyright <b>eBusiness</b>. All Rights Reserved</p>
          <p>Designed by <span>BootstrapMade</span></p>
          <br>
        </div>
      </div>
    </div>
  </div>
  </footer>

  <!--======To top Arrow======-->
  <a class="to-top-arrow" href="#business">
    <i class="fa fa-chevron-up"></i>
  </a>
  
</div>