<div class="subscribe-area">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="welcome">
          <h2>Welcome To Our eBusiness</h2>
          <p>
            Busuness Lorem ipsum dolor sit amet, consectetur adipiscing elit.luctus est eget congue.
          </p>
          <div class="field col-xs-12">
            <input class="form-control width-80" id="sus_email" placeholder="Email" type="email">
            <button type="submit" id="sus_submit" class="add-btn width-20">
              <span class="d-none d-md-block">Subscribe</span>
              <span class="d-md-none d-sm-block d-block"><i class="fa fa-user-circle-o" aria-hidden="true"></i></span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
