<div id="blog" class="blog-area area-padding">
  <div class="container">
    <!--Heading-->
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="heading">
          <h2>Latest News</h2>
        </div>
      </div>
    </div>
    <!--Content-->
    <div class="row">
      <!--Blog 1-->
      <div class="col-md-4 col-sm-4 col-xs-12 mb-3">
        <div class="blog-image">
          <img src="../../assets/image/content/blog/1.jpg"/>
        </div>
        <div class="blog-head">
          <i class="fa fa-comment-o"> 13 Comments</i>
          <i class="fa fa-calendar"></i> 2016-03-05 / 09:10:16
        </div>
        <div class="blog-content">
          <h3>
            <a>Assumenda repud eum veniam</a>
          </h3>
          <p>
            Lorem ipsum dolor sit amet conse adipis elit Assumenda repud eum veniam optio modi sit explicabo nisi magnam quibusdam.sit amet conse adipis elit Assumenda repud eum veniam optio modi sit explicabo nisi magnam quibusdam.
          </p>
        </div>
        <a class="read-more">Read More</a>
      </div>
      <!--Blog 2-->
      <div class="col-md-4 col-sm-4 col-xs-12 mb-3">
        <div class="blog-image">
          <img src="../../assets/image/content/blog/2.jpg"/>
        </div>
        <div class="blog-head">
          <i class="fa fa-comment-o"> 130 Comments</i>
          <i class="fa fa-calendar"></i> 2016-03-05 / 09:10:16
        </div>
        <div class="blog-content">
          <h3>
            <a>Explicabo magnam quibusdam.</a>
          </h3>
          <p>
            Lorem ipsum dolor sit amet conse adipis elit Assumenda repud eum veniam optio modi sit explicabo nisi magnam quibusdam.sit amet conse adipis elit Assumenda repud eum veniam optio modi sit explicabo nisi magnam quibusdam.
          </p>
        </div>
        <a class="read-more">Read More</a>
      </div>
      <!--Blog 3-->
      <div class="col-md-4 col-sm-4 col-xs-12 mb-3">
        <div class="blog-image">
          <img src="../../assets/image/content/blog/3.jpg"/>
        </div>
        <div class="blog-head">
          <i class="fa fa-comment-o"> 10 Comments</i>
          <i class="fa fa-calendar"></i> 2016-03-05 / 09:10:16
        </div>
        <div class="blog-content">
          <h3>
            <a>Lorem ipsum dolor sit amet</a>
          </h3>
          <p>
            Lorem ipsum dolor sit amet conse adipis elit Assumenda repud eum veniam optio modi sit explicabo nisi magnam quibusdam.sit amet conse adipis elit Assumenda repud eum veniam optio modi sit explicabo nisi magnam quibusdam.
          </p>
        </div>
        <a class="read-more">Read More</a>
      </div>
    </div>
  </div>
</div>