<div id="team" class="area-padding">
  <div class="container">
    <!--Heading Row-->
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-21">
        <div class="heading">
          <h2>Our Special Team</h2>
        </div>
      </div>
    </div>
    <!--Content Row-->
    <div class="row">
      <!--Person 1-->
      <div class="col-md-3 col-sm-3 col-xs-12">
        <div class="person">
          <div class="image">
            <a class="link" href="#">
              <img src="../assets/image/content/person/1.jpg" alt="">
            </a>
            <div class="social-icon">
              <ul>
                <li>
                  <a href="#">
                    <i class="fa fa-facebook"></i>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="fa fa-twitter"></i>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="fa fa-instagram"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="content">
              <h4>Jhon Mickel</h4>
              <p>Seo</p>
          </div>
        </div>
      </div>
      <!--Person 2-->
      <div class="col-md-3 col-sm-3 col-xs-12">
        <div class="person">
          <div class="image">
            <a class="link" href="#">
              <img src="../assets/image/content/person/2.jpg" alt="">
            </a>
            <div class="social-icon">
              <ul>
                <li>
                  <a href="#">
                    <i class="fa fa-facebook"></i>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="fa fa-twitter"></i>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="fa fa-instagram"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="content">
            <h4>Andrew Arnold</h4>
            <p>Web Developer</p>
          </div>
        </div>
      </div>
      <!--Person 3-->
      <div class="col-md-3 col-sm-3 col-xs-12">
        <div class="person">
          <div class="image">
            <a class="link" href="#">
              <img src="../assets/image/content/person/3.jpg" alt="">
            </a>
            <div class="social-icon">
              <ul>
                <li>
                  <a href="#">
                    <i class="fa fa-facebook"></i>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="fa fa-twitter"></i>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="fa fa-instagram"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="content">
            <h4>Lellien Linda</h4>
            <p>Web Design</p>
          </div>
        </div>
      </div>
      <!--Person 4-->
      <div class="col-md-3 col-sm-3 col-xs-12">
        <div class="person">
          <div class="image">
            <a class="link" href="#">
              <img src="../assets/image/content/person/4.jpg" alt="">
            </a>
            <div class="social-icon">
              <ul>
                <li>
                  <a href="#">
										<i class="fa fa-facebook"></i>
									</a>
                </li>
                <li>
                  <a href="#">
										<i class="fa fa-twitter"></i>
									</a>
                </li>
                <li>
                  <a href="#">
										<i class="fa fa-instagram"></i>
									</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="content">
            <h4>Jhon Powel</h4>
            <p>Seo Expert</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>